<header>
  <nav class="header-nav noprint">
    <a class="header-title" href="/">Online Vet DB</a>
    <ul>
      <li><a href="/owners">Owners</a></li>
      <li><a href="/owners/new">Add Owner</a></li>
      <li><a href="/pets">Pets</a></li>
      <li><a href="/pets/new">Add Pet</a></li>
    </ul>
  </nav>
</header>