<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Online Prescription</a>
    <ul>
      <li><a href="/patients">Patients</a></li>
      <li><a href="/patients/new">Add Patient</a></li>
      <li><a href="/prescriptions">Prescriptions</a></li>
      <li><a href="/prescriptions/new">Add Prescription</a></li>
    </ul>
  </nav>
</header>
