@font-face {
	font-family: 'Rowdies';
	src: url('/fonts/Rowdies-Bold.woff2') format('woff2'),
		url('/fonts/Rowdies-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Rowdies';
	src: url('/fonts/Rowdies-Regular.woff2') format('woff2'),
		url('/fonts/Rowdies-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rowdies';
	src: url('/fonts/Rowdies-Light.woff2') format('woff2'),
		url('/fonts/Rowdies-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rowdies';
	src: url('/fonts/Rowdies-Regular.woff2') format('woff2'),
		url('/fonts/Rowdies-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

