:root {
  --pet-cover-width: 400px;
  --pet-cover-width-large: 400px;
  --pet-cover-aspect-ratio: 0.75;
}

.pet-cover {
  width: var(--pet-cover-width);
  height: calc(var(--pet-cover-width) / var(--pet-cover-aspect-ratio));
}

.pet-cover-large {
  --pet-cover-width: var(--pet-cover-width-large);
}

.pet-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--pet-cover-width));
}

.pet-grid-large {
  grid-template-columns: repeat(auto-fill, var(--pet-cover-width-large));
}

.pet-details {
  display: flex;
}

.pet-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.pet-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.pet-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "owner owner";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.pet-details-owner-button {
  grid-area: owner;
  justify-self: stretch;
}